body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-columns: 1fr;
}

header {
  background-color: cornflowerblue;
}

main {
  background-color: slateblue;
  /* make this a scroll box */
  overflow: scroll;
  overflow-x: hidden;

}

.contentBox {
  min-height: 300px;
  width: 300px;
  background-color: darkgoldenrod;
  border: 2px black solid;
}

section {
  width: 100vw;
  min-height: 40vh;
}

#top {
  background-color: darkolivegreen;
}

#middle {
  background-color: lightcoral;
}

#about {
  background-color: lightseagreen;
}

#projects {
  background-color: thistle;
}


footer {
  background-color: blueviolet;
}